.navbar {
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,.05), 0 -1px 0 rgba(0,0,0,.015);
    .navbar-brand {
        img {
            max-width: 170px;
        }        
    }
}

.navbar {
    .search-container {
        width: 70%;
        position:relative;
        padding:0 0 0 20px;
        margin:0 50px;
        #input {
            margin:0;
            padding-right: 30px;
            width: 100%;
            padding-left: 35px;
        }
        #input_img {
            position:absolute;
            bottom:2px;
            left: 15px;
            width: 17px;
            height: 27px;
            .feather {
                color: #a9b2b9;
            }
        }
    }
}

