/* === Branding === */

.navbar {
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,.05), 0 -1px 0 rgba(0,0,0,.015);
    .navbar-brand {
        img {
            height: 35px;     
        }

        span {
            vertical-align: middle;
            padding-left: 7px;
            font-size: 14px;
            font-weight: bold;
            color: #1b2b62;
        } 
    }
    .link {
        font-size: 14px;
    }     
 
}


/* === Search container === */
.navbar {
    .search-container {
        width: 70%;
        position:relative;
        padding:0 0 0 20px;
        margin:0 50px;
        @media screen and (max-width:768px) {
            width: 100%;
            padding:0;
            margin:0px;
            background: white;
        }
        #input {
            margin:0;
            padding-right: 30px;
            width: 100%;
            padding-left: 35px;
        }
        #input_img {
            position:absolute;
            bottom:2px;
            left: 15px;
            width: 17px;
            height: 27px;
            .feather {
                color: #a9b2b9;
            }
            @media screen and (max-width:768px) {
                left: 6px;
            }
        }
    }
}



