
.form-control {
    font-size: 14px;
    color: #777B7B;
    border: 1px solid #DBE3E3;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    margin: 0;
    outline: none;
    height: inherit;
}