.card-container {
  background: #fff;
  border-width: 0;
  border-radius: .25rem;
  color: red;
  margin-bottom: 1.5rem;
}

.card-container.content {
  padding: 50px 80px;
}

.card-container.content h1 {
  font-size: 32px;
}
